body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    max-width: 750px;
}

header {
    background: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 750px;
}

main {
    padding: 20px;
    max-width: 750px;
}

h1, h2 {
    margin: 0 0 10px;
    max-width: 8750px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #3498db;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 750px;
}
